<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1>Edit</h1>
<form th:action="@{}" th:object="${product}" method="post">
    <h1>ID: </h1>
    <input type="text" name="txtID" th:value="${product.getId()}" th:field="*{id}">
    <h1>Name: </h1>
    <input type="text" name="txtName" th:field="*{name}">
    <h1>Price: </h1>
    <input type="text" name="txtPrice" th:field="*{price}">
    <input type="submit" value="Edit">
</form>
</body>
</html>